/* NAVMENU */
.navmenu{
	display: block;
	width: 100%;
	background-color: #0E4256;
}
.navmenu li{
	float: left;
	display: block;
	position: relative;
}
.navmenu li a{
	display: block;
	padding: 30px 15px;
	color: white;
	text-transform: uppercase;
	font-size: 1em;

	transition: 200ms all linear;
	-moz-transition: 200ms all linear;
	-webkit-transition: 200ms all linear;
}
.navmenu li:first-child:hover a{
	border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-ms-border-radius: 3px 0px 0px 3px;
	-khtml-border-radius: 3px 0px 0px 3px;
}
.navmenu li:hover a{
	background-color: #FDC038;
	transition: 200ms all linear;
	-moz-transition: 200ms all linear;
	-webkit-transition: 200ms all linear;
}

.navmenu li .no-hover{
	padding: 34px 5px;
		font-size: 0.6em;
}
.navmenu li:hover .no-hover{
	background: none !important;
}
.navmenu li:hover .fb{
	background: #215F9E;
}
.navmenu li:hover .yt{
	background: #D42E2E;
}
.navmenu li:hover .tt{
	background: #41B4F7;
	border-radius: 0px 3px 3px 0px;
}

/* POSTS */
.posts{
	float: left;
	width: 100%;
	margin-top: 40px;
	display: block;
}

.posts .lia{
	float: left;

	position: relative;
	width: 100%;
	margin: 30px 0;
}

.posts .lia h2{
	display: block;
	text-align: center;
	padding: 0 0 30px 0;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 900;
	border-bottom: 1px solid #ddd;
	color: #777;
}

.posts .thumb{
	float: left;
	width: 100%;
}
.posts .thumb img{
	width: 100%;
	opacity: .8;
}
.posts .thumb:hover img{
	opacity: 10;
}


.posts .description{
	position: absolute;
	left: 0;
	bottom: 4px;
	padding: 30px;
	background: #FDC038;
}
.posts .description .url{
	display: block;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: 400;
}

.load_more{
	display: block;
	clear: both;
	text-align: center;
	width: 300px;
	margin: auto;
	padding:15px 30px;
	background: #ddd;
	border: 1px solid #ccc;
	color: #888;
	text-transform: uppercase;
}